<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../dist/output.css">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
</head>
<body class="bg-blue-100">
    <header class="text-gray-700 body-font font-bold text-7xl">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-xl justify-center">
            <a class="mr-10 hover:text-black">About</a>
            <a class="mr-10 hover:text-gray-900">Blog</a>
            <a class="mr-10 hover:text-gray-900">Readings</a>
            <a class="mr-10 hover:text-gray-900">Experience</a>
            </nav>
        </div>
    </header>
    <section class="text-gray-700 font">
        <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
          <div class="text-center lg:w-2/3 w-full">
            <h1 class="title-font sm:text-4xl text-3xl mb-12 font-medium text-gray-900">About me</h1>
            <p class="mb-8 leading-relaxed">Meggings kinfolk echo park stumptown DIY, kale chips beard jianbing tousled. Chambray dreamcatcher trust fund, kitsch vice godard disrupt ramps hexagon mustache umami snackwave tilde chillwave ugh. Pour-over meditation PBR&amp;B pickled ennui celiac mlkshk freegan photo booth af fingerstache pitchfork.</p>
            <div class="flex justify-center">
            </div>
          </div>
        </div>
      </section>
</body>
</html>